fastapi==0.95.1
requests==2.32.2
uvicorn==0.22.0
redis
SQLAlchemy==1.4.46
fastapi-utils==0.2.1
psycopg2==2.9.6
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]
python-multipart==0.0.6
pytest
ruff
httpx